/*adjusts size of each content box*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* sets the background of the webpage to light grey*/
body {
    background-color: #d9dcd6;
}
/*a header class that sets the padding area(blue space around header), text color, 
background color, and preferred fonts*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*adjusts the h1 element to display inline, keeping its properties, 
and adjusts font-size*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* adjusts the color of the "seo" class of the h1 element*/
.header h1 .seo {
    color: #d9dcd6;
}
/* adjusts font, font size, margin and padding areas of the div element in the header class*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}
/*for the items in an unordered list, each item is 25px to the left of the next*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*adjusts the color of the text tagged with this element*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*adjustst the size of the text tagged with this element*/
p {
    font-size: 16px;
}
/*creates a specific class for the image linked that adjusts 
bottom margin,  height, and position*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* float left class for the purpose of floating items given this class to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}
/* float right class for the purpose of floating items given this class to the right within the container*/

.float-right {
    float: right;
    margin-left: 25px;
}
/*sets the width to 75% of the page and adds a margin of 20px for any class = content*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*sets the width, positioning, and font of the items tagged with the benefits class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* for the benefit-lead class, applies color and margin to bottom*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* for the benefit-brand class, applies color and margin to bottom*/

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* for the benefit-cost class, applies color and margin to bottom*/

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* for the h3 tag in the benefit-lead class, adjusts bottom margin and aligns text*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* for the h3 tag in the benefit-brand class, adjusts bottom margin and aligns text*/

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* for the h3 tag in the benefit-cost class, adjusts bottom margin and aligns text*/

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* for the images of each benefit class, adjusts the positioning and width of the image tag*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*formatting for the search-engine-optimization class*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*formatting for the online-reputation-management class*/

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*formatting for the formatting for the online-reputation-management class class*/

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*adjusts height of img tag within search-engine-optimization class*/
.search-engine-optimization img {
    max-height: 200px;
}
/*adjusts height of img tag within online-reputation-management class*/

.online-reputation-management img {
    max-height: 200px;
}
/*adjusts height of img tag within social-media-marketing class*/

.social-media-marketing img {
    max-height: 200px;
}
/*adjusts the margin and font size of the h2 tag within search-engine-optimization class*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*adjusts the margin and font size of the h2 tag within online-reputation-management class*/

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*adjusts the margin and font size of the h2 tag within social-media-marketing class*/

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*a footer class for the bottom of the webpage, formatting and font*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*adjusts font size for h2*/
.footer h2 {
    font-size: 20px;
}
